In [1]:
import pandas as pd
import numpy as np

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
sub = pd.read_csv('sample_submission.csv')

train_df.head()

,ID,TARGET,성별,차량 소유 여부,부동산 소유 여부,자녀 수,연간 수입,수입 유형,최종 학력,결혼 여부,...,거주지 인구 비율,휴대전화 소유 여부,업무용 휴대전화 소유 여부,이메일 소유 여부,직업,가족 구성원 수,산업군,나이,근속연수,가입연수
0,TRAIN_00000,0,여성,1,1,2,18054000.0,연금수령자,고등학교 졸업,기혼,...,0.004960,1,0,0,Unknown,4.0,기타 1,39,1000,23.0
1,TRAIN_00001,0,남성,1,0,0,59472000.0,근로자,대학교 졸업 이상,기혼,...,0.018029,1,1,0,기술직,2.0,사업 1,45,4,16.0
2,TRAIN_00002,0,여성,0,1,0,29736000.0,근로자,고등학교 졸업,기혼,...,0.010500,1,1,0,단순 노동자,2.0,사업 0,32,3,9.0
3,TRAIN_00003,0,여성,1,0,1,38232000.0,기타,고등학교 졸업,기혼,...,0.004849,1,1,0,Unknown,3.0,산업 4,34,6,12.0
4,TRAIN_00004,0,여성,0,1,0,26550000.0,근로자,고등학교 졸업,기혼,...,0.025164,1,1,0,Unknown,2.0,사업 2,38,0,4.0

In [2]:
test_df.head()

,ID,성별,차량 소유 여부,부동산 소유 여부,자녀 수,연간 수입,수입 유형,최종 학력,결혼 여부,주거 형태,거주지 인구 비율,휴대전화 소유 여부,업무용 휴대전화 소유 여부,이메일 소유 여부,직업,가족 구성원 수,산업군,나이,근속연수,가입연수
0,TEST_00000,남성,0,0,2,37170000.0,근로자,대학교 중퇴,기혼,주택 / 아파트,0.006296,1,1,0,핵심 노동자,4.0,기타 0,27,2,8.0
1,TEST_00001,남성,0,0,0,47790000.0,근로자,대학교 졸업 이상,기혼,주택 / 아파트,0.004960,1,1,0,관리직,2.0,정부,40,8,11.0
2,TEST_00002,남성,1,1,1,37170000.0,공무원,고등학교 졸업,기혼,주택 / 아파트,0.026392,1,1,0,관리직,3.0,국가 안보,43,15,14.0
3,TEST_00003,여성,0,1,0,31860000.0,연금수령자,고등학교 졸업,기혼,주택 / 아파트,0.014464,1,0,0,Unknown,2.0,기타 1,51,1000,7.0
4,TEST_00004,여성,0,1,2,19116000.0,근로자,고등학교 졸업,기혼,공공분양,0.031329,1,1,0,의료 업계 종사자,4.0,의학,31,10,2.0

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              60000 non-null  object
 1   TARGET          60000 non-null  int64
 2   성별              60000 non-null  object
 3   차량 소유 여부        60000 non-null  int64
 4   부동산 소유 여부       60000 non-null  int64
 5   자녀 수            60000 non-null  int64
 6   연간 수입           60000 non-null  float64
 7   수입 유형           60000 non-null  object
 8   최종 학력           60000 non-null  object
 9   결혼 여부           60000 non-null  object
 10  주거 형태           60000 non-null  object
 11  거주지 인구 비율       60000 non-null  float64
 12  휴대전화 소유 여부      60000 non-null  int64
 13  업무용 휴대전화 소유 여부  60000 non-null  int64
 14  이메일 소유 여부       60000 non-null  int64
 15  직업              60000 non-null  object
 16  가족 구성원 수        60000 non-null  float64
 17  산업군             60000 non-null  object
 18  나이              60000 non-null  int64
 19  근속연수            60000 non-null  int64
 20  가입연수            60000 non-null  float64
dtypes: float64(4), int64(9), object(8)
memory usage: 9.6+ MB

In [4]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              40000 non-null  object
 1   성별              40000 non-null  object
 2   차량 소유 여부        40000 non-null  int64
 3   부동산 소유 여부       40000 non-null  int64
 4   자녀 수            40000 non-null  int64
 5   연간 수입           40000 non-null  float64
 6   수입 유형           40000 non-null  object
 7   최종 학력           40000 non-null  object
 8   결혼 여부           40000 non-null  object
 9   주거 형태           40000 non-null  object
 10  거주지 인구 비율       40000 non-null  float64
 11  휴대전화 소유 여부      40000 non-null  int64
 12  업무용 휴대전화 소유 여부  40000 non-null  int64
 13  이메일 소유 여부       40000 non-null  int64
 14  직업              40000 non-null  object
 15  가족 구성원 수        40000 non-null  float64
 16  산업군             40000 non-null  object
 17  나이              40000 non-null  int64
 18  근속연수            40000 non-null  int64
 19  가입연수            40000 non-null  float64
dtypes: float64(4), int64(8), object(8)
memory usage: 6.1+ MB

In [5]:
train_df.isnull().sum()

ID                0
TARGET            0
성별                0
차량 소유 여부          0
부동산 소유 여부         0
자녀 수              0
연간 수입             0
수입 유형             0
최종 학력             0
결혼 여부             0
주거 형태             0
거주지 인구 비율         0
휴대전화 소유 여부        0
업무용 휴대전화 소유 여부    0
이메일 소유 여부         0
직업                0
가족 구성원 수          0
산업군               0
나이                0
근속연수              0
가입연수              0
dtype: int64

In [6]:
test_df.isnull().sum()

ID                0
성별                0
차량 소유 여부          0
부동산 소유 여부         0
자녀 수              0
연간 수입             0
수입 유형             0
최종 학력             0
결혼 여부             0
주거 형태             0
거주지 인구 비율         0
휴대전화 소유 여부        0
업무용 휴대전화 소유 여부    0
이메일 소유 여부         0
직업                0
가족 구성원 수          0
산업군               0
나이                0
근속연수              0
가입연수              0
dtype: int64

In [7]:
train_df.select_dtypes('number').columns

Index(['TARGET', '차량 소유 여부', '부동산 소유 여부', '자녀 수', '연간 수입', '거주지 인구 비율',
       '휴대전화 소유 여부', '업무용 휴대전화 소유 여부', '이메일 소유 여부', '가족 구성원 수', '나이', '근속연수',
       '가입연수'],
      dtype='object')

In [8]:
train_df.select_dtypes('object').columns

Index(['ID', '성별', '수입 유형', '최종 학력', '결혼 여부', '주거 형태', '직업', '산업군'], dtype='object')

In [9]:
num_cols = ['차량 소유 여부', '부동산 소유 여부', '자녀 수', '연간 수입', '거주지 인구 비율',
       '휴대전화 소유 여부', '업무용 휴대전화 소유 여부', '이메일 소유 여부', '가족 구성원 수', '나이', '근속연수',
       '가입연수']

cat_cols = ['성별', '수입 유형', '최종 학력', '결혼 여부', '주거 형태', '직업', '산업군']

In [10]:
from sklearn.model_selection import train_test_split
train,valid = train_test_split(train_df,test_size=0.3,random_state=1000,stratify=train_df['TARGET'])
print(train.shape)
print(valid.shape)

(42000, 21)
(18000, 21)

In [11]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(train[num_cols])

train_scaled = scaler.transform(train[num_cols])
valid_scaled = scaler.transform(valid[num_cols])
test_scaled = scaler.transform(test_df[num_cols])

train_scaled_df = pd.DataFrame(train_scaled,columns=train[num_cols].columns)
valid_scaled_df = pd.DataFrame(valid_scaled,columns=valid[num_cols].columns)
test_scaled_df = pd.DataFrame(test_scaled,columns=test_df[num_cols].columns)

print(train_scaled_df.shape)
print(valid_scaled_df.shape)
print(test_scaled_df.shape)

(42000, 12)
(18000, 12)
(40000, 12)

In [12]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False,handle_unknown='ignore')
encoder.fit(train[cat_cols])

train_encoded = encoder.transform(train[cat_cols])
valid_encoded = encoder.transform(valid[cat_cols])
test_encoded = encoder.transform(test_df[cat_cols])

train_encoded_df = pd.DataFrame(train_encoded,columns=encoder.get_feature_names_out())
valid_encoded_df = pd.DataFrame(valid_encoded,columns=encoder.get_feature_names_out())
test_encoded_df = pd.DataFrame(test_encoded,columns=encoder.get_feature_names_out())

print(train_encoded_df.shape)
print(valid_encoded_df.shape)
print(test_encoded_df.shape)

(42000, 98)
(18000, 98)
(40000, 98)

C:\Users\Owner\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [13]:
x_train = np.concatenate([train_scaled,train_encoded],axis=1)
x_valid = np.concatenate([valid_scaled,valid_encoded],axis=1)
x_test = np.concatenate([test_scaled,test_encoded],axis=1)

print(x_train.shape)
print(x_valid.shape)
print(x_test.shape)

(42000, 110)
(18000, 110)
(40000, 110)

In [14]:
y_train = np.array(train['TARGET']).reshape(-1,1)
y_valid = np.array(valid['TARGET']).reshape(-1,1)
print(y_train.shape)
print(y_valid.shape)

(42000, 1)
(18000, 1)

In [15]:
import tensorflow as tf

WARNING:tensorflow:From C:\Users\Owner\anaconda3\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [16]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout

model = Sequential()
model.add(Dense(1024,activation='relu',input_shape=(110,)))
model.add(Dropout(0.5))
model.add(Dense(512,activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(256,activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(1,activation='sigmoid'))

WARNING:tensorflow:From C:\Users\Owner\anaconda3\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [17]:
model.compile(
    optimizer = tf.keras.optimizers.Adam(learning_rate=0.001),
    loss = tf.keras.losses.BinaryCrossentropy(from_logits=False),
    metrics = [tf.keras.metrics.BinaryAccuracy(),
             tf.keras.metrics.AUC()]
)

In [18]:
model.fit(x=x_train,
          y=y_train,
          batch_size=100,
          epochs=10,
          validation_data=(x_valid,y_valid))

Epoch 1/10
WARNING:tensorflow:From C:\Users\Owner\anaconda3\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

420/420 [==============================] - 9s 17ms/step - loss: 0.3455 - binary_accuracy: 0.8919 - auc: 0.5906 - val_loss: 0.3321 - val_binary_accuracy: 0.8929 - val_auc: 0.6444
Epoch 2/10
420/420 [==============================] - 6s 15ms/step - loss: 0.3383 - binary_accuracy: 0.8929 - auc: 0.6125 - val_loss: 0.3279 - val_binary_accuracy: 0.8929 - val_auc: 0.6454
Epoch 3/10
420/420 [==============================] - 6s 15ms/step - loss: 0.3371 - binary_accuracy: 0.8929 - auc: 0.6172 - val_loss: 0.3307 - val_binary_accuracy: 0.8929 - val_auc: 0.6437
Epoch 4/10
420/420 [==============================] - 7s 18ms/step - loss: 0.3347 - binary_accuracy: 0.8929 - auc: 0.6258 - val_loss: 0.3313 - val_binary_accuracy: 0.8929 - val_auc: 0.6385
Epoch 5/10
420/420 [==============================] - 7s 16ms/step - loss: 0.3324 - binary_accuracy: 0.8929 - auc: 0.6350 - val_loss: 0.3305 - val_binary_accuracy: 0.8929 - val_auc: 0.6420
Epoch 6/10
420/420 [==============================] - 7s 16ms/step - loss: 0.3311 - binary_accuracy: 0.8929 - auc: 0.6409 - val_loss: 0.3310 - val_binary_accuracy: 0.8929 - val_auc: 0.6409
Epoch 7/10
420/420 [==============================] - 7s 17ms/step - loss: 0.3293 - binary_accuracy: 0.8929 - auc: 0.6476 - val_loss: 0.3331 - val_binary_accuracy: 0.8929 - val_auc: 0.6380
Epoch 8/10
420/420 [==============================] - 7s 17ms/step - loss: 0.3262 - binary_accuracy: 0.8929 - auc: 0.6605 - val_loss: 0.3324 - val_binary_accuracy: 0.8929 - val_auc: 0.6336
Epoch 9/10
420/420 [==============================] - 7s 16ms/step - loss: 0.3247 - binary_accuracy: 0.8929 - auc: 0.6669 - val_loss: 0.3345 - val_binary_accuracy: 0.8929 - val_auc: 0.6223
Epoch 10/10
420/420 [==============================] - 7s 17ms/step - loss: 0.3237 - binary_accuracy: 0.8929 - auc: 0.6718 - val_loss: 0.3368 - val_binary_accuracy: 0.8929 - val_auc: 0.6253

In [19]:
pred = model.predict(x_test)
pred = (pred >= 0.5).astype('int')
sub['TARGET'] = pred
sub.to_csv('2nd_try.csv',index=False)
a = pd.read_csv('2nd_try.csv')
print(a)

1250/1250 [==============================] - 6s 5ms/step
               ID  TARGET
0      TEST_00000       0
1      TEST_00001       0
2      TEST_00002       0
3      TEST_00003       0
4      TEST_00004       0
...           ...     ...
39995  TEST_39995       0
39996  TEST_39996       0
39997  TEST_39997       0
39998  TEST_39998       0
39999  TEST_39999       0

[40000 rows x 2 columns]