In [1]:
import pandas as pd
import numpy as np

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
sub = pd.read_csv('sample_submission.csv')

print(train_df.shape)
print(test_df.shape)

(96294, 15)
(64197, 14)

In [2]:
train_df.head()

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급
0,TRAIN_00000,12480000,36 months,6 years,RENT,72000000,18.90,15,부채 통합,0,0,0.0,0.0,0.0,C
1,TRAIN_00001,14400000,60 months,10+ years,MORTGAGE,130800000,22.33,21,주택 개선,0,373572,234060.0,0.0,0.0,B
2,TRAIN_00002,12000000,36 months,5 years,MORTGAGE,96000000,8.60,14,부채 통합,0,928644,151944.0,0.0,0.0,A
3,TRAIN_00003,14400000,36 months,8 years,MORTGAGE,132000000,15.09,15,부채 통합,0,325824,153108.0,0.0,0.0,C
4,TRAIN_00004,18000000,60 months,Unknown,RENT,71736000,25.39,19,주요 구매,0,228540,148956.0,0.0,0.0,B

In [3]:
test_df.head()

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수
0,TEST_00000,16800000,36 months,8 years,MORTGAGE,132000000,19.64,12,주택 개선,0,394692,146604.0,0.0,0.0
1,TEST_00001,8400000,36 months,5 years,RENT,89971200,15.84,25,부채 통합,0,0,0.0,0.0,0.0
2,TEST_00002,17280000,36 months,6 years,RENT,150000000,8.41,20,신용 카드,0,1786980,281820.0,0.0,0.0
3,TEST_00003,14400000,36 months,5 years,MORTGAGE,66000000,13.72,30,신용 카드,1,669024,281724.0,0.0,0.0
4,TEST_00004,27600000,36 months,5 years,RENT,55200000,30.50,12,신용 카드,0,1250052,614844.0,0.0,0.0

In [4]:
sub.head()

           ID 대출등급
0  TEST_00000    G
1  TEST_00001    G
2  TEST_00002    G
3  TEST_00003    G
4  TEST_00004    G

In [5]:
train_df.isnull().sum()

ID              0
대출금액            0
대출기간            0
근로기간            0
주택소유상태          0
연간소득            0
부채_대비_소득_비율     0
총계좌수            0
대출목적            0
최근_2년간_연체_횟수    0
총상환원금           0
총상환이자           0
총연체금액           0
연체계좌수           0
대출등급            0
dtype: int64

In [6]:
test_df.isnull().sum()

ID              0
대출금액            0
대출기간            0
근로기간            0
주택소유상태          0
연간소득            0
부채_대비_소득_비율     0
총계좌수            0
대출목적            0
최근_2년간_연체_횟수    0
총상환원금           0
총상환이자           0
총연체금액           0
연체계좌수           0
dtype: int64

In [7]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96294 entries, 0 to 96293
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            96294 non-null  object
 1   대출금액          96294 non-null  int64
 2   대출기간          96294 non-null  object
 3   근로기간          96294 non-null  object
 4   주택소유상태        96294 non-null  object
 5   연간소득          96294 non-null  int64
 6   부채_대비_소득_비율   96294 non-null  float64
 7   총계좌수          96294 non-null  int64
 8   대출목적          96294 non-null  object
 9   최근_2년간_연체_횟수  96294 non-null  int64
 10  총상환원금         96294 non-null  int64
 11  총상환이자         96294 non-null  float64
 12  총연체금액         96294 non-null  float64
 13  연체계좌수         96294 non-null  float64
 14  대출등급          96294 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 11.0+ MB

In [8]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64197 entries, 0 to 64196
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            64197 non-null  object
 1   대출금액          64197 non-null  int64
 2   대출기간          64197 non-null  object
 3   근로기간          64197 non-null  object
 4   주택소유상태        64197 non-null  object
 5   연간소득          64197 non-null  int64
 6   부채_대비_소득_비율   64197 non-null  float64
 7   총계좌수          64197 non-null  int64
 8   대출목적          64197 non-null  object
 9   최근_2년간_연체_횟수  64197 non-null  int64
 10  총상환원금         64197 non-null  int64
 11  총상환이자         64197 non-null  float64
 12  총연체금액         64197 non-null  float64
 13  연체계좌수         64197 non-null  float64
dtypes: float64(4), int64(5), object(5)
memory usage: 6.9+ MB

In [9]:
train_df['대출등급']

0        C
1        B
2        A
3        C
4        B
        ..
96289    C
96290    E
96291    A
96292    D
96293    C
Name: 대출등급, Length: 96294, dtype: object

In [10]:
lton = {val:idx for idx,val in enumerate(sorted(train_df['대출등급'].unique()))}
lton

{'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6}

In [11]:
ntol = {idx:val for val,idx in lton.items()}
ntol

{0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E', 5: 'F', 6: 'G'}

In [12]:
train_df['대출등급'] = train_df['대출등급'].apply(lambda x: lton[x])
train_df['대출등급'].head()

0    2
1    1
2    0
3    2
4    1
Name: 대출등급, dtype: int64

In [13]:
train_df.select_dtypes('number').columns

Index(['대출금액', '연간소득', '부채_대비_소득_비율', '총계좌수', '최근_2년간_연체_횟수', '총상환원금', '총상환이자',
       '총연체금액', '연체계좌수', '대출등급'],
      dtype='object')

In [14]:
train_df.select_dtypes('object').columns

Index(['ID', '대출기간', '근로기간', '주택소유상태', '대출목적'], dtype='object')

In [15]:
num_cols = ['대출금액', '연간소득', '부채_대비_소득_비율', '총계좌수', '최근_2년간_연체_횟수', '총상환원금', '총상환이자',
       '총연체금액', '연체계좌수']

In [16]:
cat_cols = ['대출기간', '근로기간', '주택소유상태', '대출목적']

In [17]:
train_df['대출금액'] = np.log(train_df['대출금액']+1)
test_df['대출금액'] = np.log(test_df['대출금액']+1)
train_df['연간소득'] = np.log(train_df['연간소득']+1)
test_df['연간소득'] = np.log(test_df['연간소득']+1)
train_df['총상환원금'] = np.log(train_df['총상환원금']+1)
test_df['총상환원금'] = np.log(test_df['총상환원금']+1)
train_df['총연체금액'] = np.log(train_df['총연체금액']+1)
test_df['총연체금액'] = np.log(test_df['총연체금액']+1)

In [18]:
from sklearn.model_selection import train_test_split
train,valid = train_test_split(train_df,
                               test_size=0.3,
                               random_state=1000,
                               stratify=train_df['대출등급'])
print(train.shape)
print(valid.shape)

(67405, 15)
(28889, 15)

In [19]:
train_df

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급
0,TRAIN_00000,16.339638,36 months,6 years,RENT,18.092177,18.90,15,부채 통합,0,0.000000,0.0,0.0,0.0,2
1,TRAIN_00001,16.482739,60 months,10+ years,MORTGAGE,18.689180,22.33,21,주택 개선,0,12.830869,234060.0,0.0,0.0,1
2,TRAIN_00002,16.300417,36 months,5 years,MORTGAGE,18.379859,8.60,14,부채 통합,0,13.741482,151944.0,0.0,0.0,0
3,TRAIN_00003,16.482739,36 months,8 years,MORTGAGE,18.698312,15.09,15,부채 통합,0,12.694116,153108.0,0.0,0.0,2
4,TRAIN_00004,16.705882,60 months,Unknown,RENT,18.088503,25.39,19,주요 구매,0,12.339471,148956.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96289,TRAIN_96289,16.482739,36 months,10+ years,MORTGAGE,19.162618,9.33,33,신용 카드,0,13.789763,492168.0,0.0,0.0,2
96290,TRAIN_96290,17.175886,60 months,10+ years,MORTGAGE,18.698312,5.16,25,주택 개선,0,13.277192,855084.0,0.0,0.0,4
96291,TRAIN_96291,16.482739,36 months,1 year,MORTGAGE,18.246327,11.24,22,신용 카드,0,14.213702,241236.0,0.0,0.0,0
96292,TRAIN_96292,16.562782,36 months,5 years,MORTGAGE,18.010153,17.30,21,부채 통합,2,14.136411,818076.0,0.0,0.0,3
96293,TRAIN_96293,15.971913,36 months,10+ years,RENT,17.735502,11.80,14,신용 카드,0,13.298246,274956.0,0.0,0.0,2

In [20]:
train.columns

Index(['ID', '대출금액', '대출기간', '근로기간', '주택소유상태', '연간소득', '부채_대비_소득_비율', '총계좌수',
       '대출목적', '최근_2년간_연체_횟수', '총상환원금', '총상환이자', '총연체금액', '연체계좌수', '대출등급'],
      dtype='object')

In [21]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(train[num_cols])
train_scaled = scaler.transform(train[num_cols])
valid_scaled = scaler.transform(valid[num_cols])
test_scaled = scaler.transform(test_df[num_cols])

train_scaled_df = pd.DataFrame(train_scaled,columns=train[num_cols].columns)
valid_scaled_df = pd.DataFrame(valid_scaled,columns=valid[num_cols].columns)
test_scaled_df = pd.DataFrame(test_scaled,columns=test_df[num_cols].columns)

print(train_scaled_df.shape)
print(valid_scaled_df.shape)
print(test_scaled_df.shape)

(67405, 9)
(28889, 9)
(64197, 9)

In [22]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False,handle_unknown='ignore')
encoder.fit(train[cat_cols])
train_encoded = encoder.transform(train[cat_cols])
valid_encoded = encoder.transform(valid[cat_cols])
test_encoded = encoder.transform(test_df[cat_cols])

train_encoded_df = pd.DataFrame(train_encoded,columns=encoder.get_feature_names_out())
valid_encoded_df = pd.DataFrame(valid_encoded,columns=encoder.get_feature_names_out())
test_encoded_df = pd.DataFrame(test_encoded,columns=encoder.get_feature_names_out())

print(train_encoded_df.shape)
print(valid_encoded_df.shape)
print(test_encoded_df.shape)

(67405, 34)
(28889, 34)
(64197, 34)

C:\Users\Owner\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [23]:
train_encoded_df.reset_index(drop=True)
train_scaled_df.reset_index(drop=True)
test_encoded_df.reset_index(drop=True)
test_scaled_df.reset_index(drop=True)
valid_encoded_df.reset_index(drop=True)
valid_scaled_df.reset_index(drop=True)

,대출금액,연간소득,부채_대비_소득_비율,총계좌수,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수
0,1.442498,0.215798,-0.269857,-1.349060,1.790772,0.790754,2.770837,-0.042703,-0.071653
1,0.964551,1.083412,-0.417931,-0.357932,0.707868,0.481573,0.285740,-0.042703,-0.071653
2,0.356013,-0.165606,0.326719,0.055039,-0.375036,0.152638,-0.687857,-0.042703,-0.071653
3,1.530808,2.116447,-0.219240,-1.018684,-0.375036,0.394617,-0.022259,-0.042703,-0.071653
4,-1.781953,-0.683391,-0.049257,-1.183872,-0.375036,0.101843,-0.387296,-0.042703,-0.071653
...,...,...,...,...,...,...,...,...,...
28884,0.690916,1.495329,-0.111962,-0.853496,-0.375036,0.426768,0.293314,-0.042703,-0.071653
28885,-1.246642,-1.191091,-0.357241,-1.514248,-0.375036,0.174026,-0.749572,-0.042703,-0.071653
28886,1.299453,0.215798,0.200051,-0.275338,3.956580,0.431190,2.447772,-0.042703,-0.071653
28887,0.532787,1.231168,-0.157794,-0.110149,-0.375036,0.628986,0.296896,-0.042703,-0.071653
28888,-0.507515,-0.356739,-0.098867,-1.431654,-0.375036,-3.948250,-0.972996,-0.042703,-0.071653

In [24]:
x_train = np.concatenate([train_scaled_df,train_encoded_df],axis=1)
x_valid = np.concatenate([valid_scaled_df,valid_encoded_df],axis=1)
x_test = np.concatenate([test_scaled_df,test_encoded_df],axis=1)

print(x_train.shape)
print(x_valid.shape)
print(x_test.shape)

(67405, 43)
(28889, 43)
(64197, 43)

In [25]:
y_train = np.array(train['대출등급']).reshape(-1,1)
y_valid = np.array(valid['대출등급']).reshape(-1,1)

print(y_train.shape)
print(y_valid.shape)

(67405, 1)
(28889, 1)

In [26]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout

num_classes = len(lton)
model = Sequential()
model.add(Dense(1024,activation='relu',input_shape=(43,)))
model.add(Dropout(0.5))
model.add(Dense(512,activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(256,activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(num_classes,activation='softmax'))

WARNING:tensorflow:From C:\Users\Owner\anaconda3\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From C:\Users\Owner\anaconda3\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [27]:
from sklearn.metrics import f1_score
def macro_f1_score(y_true,y_pred):
    y_pred = np.argmax(y_pred,1)
    f1_scores = []
    for k in range(num_classes):
        y_true_k = (y_true == k)
        y_pred_k = (y_pred == k)
        f1_k = f1_score(y_true_k,y_pred_k,zero_division=0)
        f1_scores.append(f1_k)
    return np.mean(f1_scores)

In [28]:
def custom_metric(y_true,y_pred):
    f1 = tf.py_function(func=macro_f1_score,inp=[y_true,y_pred],Tout=tf.float32)
    return f1

In [29]:
model.compile(
    optimizer = tf.keras.optimizers.Adam(learning_rate=0.001),
    loss = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=False),
    metrics = [tf.keras.metrics.SparseCategoricalAccuracy(),
              custom_metric
              ]
)

In [30]:
model.fit(x = x_train,
          y= y_train,
          batch_size=128,
          epochs=10,
          validation_data=(x_valid,y_valid))

Epoch 1/10
WARNING:tensorflow:From C:\Users\Owner\anaconda3\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\Owner\anaconda3\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

527/527 [==============================] - 18s 31ms/step - loss: 1.2007 - sparse_categorical_accuracy: 0.4846 - custom_metric: 0.3198 - val_loss: 0.8277 - val_sparse_categorical_accuracy: 0.6860 - val_custom_metric: 0.4847
Epoch 2/10
527/527 [==============================] - 16s 30ms/step - loss: 0.8618 - sparse_categorical_accuracy: 0.6432 - custom_metric: 0.4771 - val_loss: 0.6961 - val_sparse_categorical_accuracy: 0.7054 - val_custom_metric: 0.5126
Epoch 3/10
527/527 [==============================] - 16s 30ms/step - loss: 0.7551 - sparse_categorical_accuracy: 0.6847 - custom_metric: 0.5155 - val_loss: 0.6201 - val_sparse_categorical_accuracy: 0.7415 - val_custom_metric: 0.5466
Epoch 4/10
527/527 [==============================] - 16s 31ms/step - loss: 0.7133 - sparse_categorical_accuracy: 0.7014 - custom_metric: 0.5356 - val_loss: 0.5895 - val_sparse_categorical_accuracy: 0.7690 - val_custom_metric: 0.6107
Epoch 5/10
527/527 [==============================] - 17s 33ms/step - loss: 0.6902 - sparse_categorical_accuracy: 0.7125 - custom_metric: 0.5504 - val_loss: 0.5867 - val_sparse_categorical_accuracy: 0.7638 - val_custom_metric: 0.6140
Epoch 6/10
527/527 [==============================] - 16s 30ms/step - loss: 0.6718 - sparse_categorical_accuracy: 0.7220 - custom_metric: 0.5616 - val_loss: 0.5538 - val_sparse_categorical_accuracy: 0.7886 - val_custom_metric: 0.6226
Epoch 7/10
527/527 [==============================] - 16s 31ms/step - loss: 0.6615 - sparse_categorical_accuracy: 0.7269 - custom_metric: 0.5641 - val_loss: 0.5580 - val_sparse_categorical_accuracy: 0.7809 - val_custom_metric: 0.6208
Epoch 8/10
527/527 [==============================] - 16s 31ms/step - loss: 0.6514 - sparse_categorical_accuracy: 0.7318 - custom_metric: 0.5739 - val_loss: 0.5674 - val_sparse_categorical_accuracy: 0.7770 - val_custom_metric: 0.6326
Epoch 9/10
527/527 [==============================] - 16s 31ms/step - loss: 0.6460 - sparse_categorical_accuracy: 0.7336 - custom_metric: 0.5757 - val_loss: 0.5437 - val_sparse_categorical_accuracy: 0.7899 - val_custom_metric: 0.6367
Epoch 10/10
527/527 [==============================] - 16s 30ms/step - loss: 0.6376 - sparse_categorical_accuracy: 0.7391 - custom_metric: 0.5829 - val_loss: 0.5347 - val_sparse_categorical_accuracy: 0.7908 - val_custom_metric: 0.6405

In [31]:
val_pred = model.predict(x_valid)
y_pred = np.argmax(val_pred,1)
y_true = np.array(y_valid)

903/903 [==============================] - 2s 2ms/step

In [35]:
from sklearn.metrics import f1_score
def macro_f1_score(y_true,y_pred,num_classes):
    f1_scores = []
    for k in range(num_classes):
        y_true_k = (y_true == k)
        y_pred_k = (y_pred == k)
        f1_k = f1_score(y_true_k,y_pred_k)
        f1_scores.append(f1_k)
    return np.mean(f1_scores)

In [36]:
print(f'macro_f1_score: {macro_f1_score(y_true,y_pred,num_classes)}')

macro_f1_score: 0.6562930623991602

In [37]:
pred = model.predict(x_test)
pred = np.argmax(pred,1)
sub['대출등급'] = [ntol[i] for i in pred]
sub.to_csv('7th_try.csv',index=False)
pd.read_csv('7th_try.csv')

2007/2007 [==============================] - 4s 2ms/step

               ID 대출등급
0      TEST_00000    B
1      TEST_00001    B
2      TEST_00002    A
3      TEST_00003    C
4      TEST_00004    C
...           ...  ...
64192  TEST_64192    D
64193  TEST_64193    D
64194  TEST_64194    D
64195  TEST_64195    C
64196  TEST_64196    A

[64197 rows x 2 columns]