In [1]:
import pandas as pd
import numpy as np

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
sub = pd.read_csv('sample_submission.csv')

In [2]:
train_df.head()

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급
0,TRAIN_00000,12480000,36 months,6 years,RENT,72000000,18.90,15,부채 통합,0,0,0.0,0.0,0.0,C
1,TRAIN_00001,14400000,60 months,10+ years,MORTGAGE,130800000,22.33,21,주택 개선,0,373572,234060.0,0.0,0.0,B
2,TRAIN_00002,12000000,36 months,5 years,MORTGAGE,96000000,8.60,14,부채 통합,0,928644,151944.0,0.0,0.0,A
3,TRAIN_00003,14400000,36 months,8 years,MORTGAGE,132000000,15.09,15,부채 통합,0,325824,153108.0,0.0,0.0,C
4,TRAIN_00004,18000000,60 months,Unknown,RENT,71736000,25.39,19,주요 구매,0,228540,148956.0,0.0,0.0,B

In [3]:
test_df.head()

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수
0,TEST_00000,16800000,36 months,8 years,MORTGAGE,132000000,19.64,12,주택 개선,0,394692,146604.0,0.0,0.0
1,TEST_00001,8400000,36 months,5 years,RENT,89971200,15.84,25,부채 통합,0,0,0.0,0.0,0.0
2,TEST_00002,17280000,36 months,6 years,RENT,150000000,8.41,20,신용 카드,0,1786980,281820.0,0.0,0.0
3,TEST_00003,14400000,36 months,5 years,MORTGAGE,66000000,13.72,30,신용 카드,1,669024,281724.0,0.0,0.0
4,TEST_00004,27600000,36 months,5 years,RENT,55200000,30.50,12,신용 카드,0,1250052,614844.0,0.0,0.0

In [4]:
sub.head()

           ID 대출등급
0  TEST_00000    G
1  TEST_00001    G
2  TEST_00002    G
3  TEST_00003    G
4  TEST_00004    G

In [5]:
train_df.isnull().sum()

ID              0
대출금액            0
대출기간            0
근로기간            0
주택소유상태          0
연간소득            0
부채_대비_소득_비율     0
총계좌수            0
대출목적            0
최근_2년간_연체_횟수    0
총상환원금           0
총상환이자           0
총연체금액           0
연체계좌수           0
대출등급            0
dtype: int64

In [6]:
test_df.isnull().sum()

ID              0
대출금액            0
대출기간            0
근로기간            0
주택소유상태          0
연간소득            0
부채_대비_소득_비율     0
총계좌수            0
대출목적            0
최근_2년간_연체_횟수    0
총상환원금           0
총상환이자           0
총연체금액           0
연체계좌수           0
dtype: int64

In [7]:
print(train_df.shape)
print(test_df.shape)

(96294, 15)
(64197, 14)

In [8]:
label_to_num = {i:idx for idx,i in enumerate(train_df['대출등급'].unique())}
num_to_label = {idx:i for idx,i in enumerate(train_df['대출등급'].unique())}

In [9]:
label_to_num

{'C': 0, 'B': 1, 'A': 2, 'D': 3, 'F': 4, 'G': 5, 'E': 6}

In [10]:
num_to_label

{0: 'C', 1: 'B', 2: 'A', 3: 'D', 4: 'F', 5: 'G', 6: 'E'}

In [11]:
train_df['대출등급'] = train_df['대출등급'].apply(lambda x: label_to_num[x])
train_df['대출등급']

0        0
1        1
2        2
3        0
4        1
        ..
96289    0
96290    6
96291    2
96292    3
96293    0
Name: 대출등급, Length: 96294, dtype: int64

In [12]:
train_df.select_dtypes('number').columns

Index(['대출금액', '연간소득', '부채_대비_소득_비율', '총계좌수', '최근_2년간_연체_횟수', '총상환원금', '총상환이자',
       '총연체금액', '연체계좌수', '대출등급'],
      dtype='object')

In [13]:
train_df.select_dtypes('object').columns

Index(['ID', '대출기간', '근로기간', '주택소유상태', '대출목적'], dtype='object')

In [14]:
train_df['대출금액'] = np.log(train_df['대출금액']+1)
train_df['연간소득'] = np.log(train_df['연간소득']+1)
train_df['총상환원금'] = np.log(train_df['총상환원금']+1)
train_df['총상환이자'] = np.log(train_df['총상환이자']+1)

test_df['대출금액'] = np.log(test_df['대출금액']+1)
test_df['연간소득'] = np.log(test_df['연간소득']+1)
test_df['총상환원금'] = np.log(test_df['총상환원금']+1)
test_df['총상환이자'] = np.log(test_df['총상환이자']+1)

In [15]:
num_col = ['대출금액', '연간소득', '부채_대비_소득_비율', '총계좌수', '최근_2년간_연체_횟수', '총상환원금', '총상환이자',
       '총연체금액', '연체계좌수']

cat_col = ['대출기간', '근로기간', '주택소유상태', '대출목적']

In [16]:
from sklearn.model_selection import train_test_split
train,valid = train_test_split(train_df,test_size=0.3,random_state=1000,stratify=train_df['대출등급'])
print(train.shape)
print(valid.shape)

(67405, 15)
(28889, 15)

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(train[num_col])
train_scaled = scaler.transform(train[num_col])
valid_scaled = scaler.transform(valid[num_col])
test_scaled = scaler.transform(test_df[num_col])

In [18]:
train_scaled_df = pd.DataFrame(train_scaled,columns=train[num_col].columns)
valid_scaled_df = pd.DataFrame(valid_scaled,columns=valid[num_col].columns)
test_scaled_df = pd.DataFrame(test_scaled,columns=test_df[num_col].columns)
print(train_scaled_df.shape)
print(valid_scaled_df.shape)
print(test_scaled_df.shape)

(67405, 9)
(28889, 9)
(64197, 9)

In [20]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False,handle_unknown='ignore')
encoder.fit(train[cat_col])
train_encoded = encoder.transform(train[cat_col])
valid_encoded = encoder.transform(valid[cat_col])
test_encoded = encoder.transform(test_df[cat_col])

C:\Users\Owner\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [22]:
train_encoded_df = pd.DataFrame(train_encoded,columns=encoder.get_feature_names_out())
valid_encoded_df = pd.DataFrame(valid_encoded,columns=encoder.get_feature_names_out())
test_encoded_df = pd.DataFrame(test_encoded,columns=encoder.get_feature_names_out())
print(train_encoded_df.shape)
print(valid_encoded_df.shape)
print(test_encoded_df.shape)

(67405, 33)
(28889, 33)
(64197, 33)

In [ ]:
train_scaled_df = train_scaled_df.reset_index(drop=True)
valid_scaled_df = valid_scaled_df.reset_index(drop=True)
test_scaled_df = test_scaled_df.reset_index(drop=True)
train_encoded_df = train_encoded_df.reset_index(drop=True)
valid_encoded_df = valid_encoded_df.reset_index(drop=True)
test_encoded_df = test_encoded_df.reset_index(drop=True)

In [23]:
x_train = np.concatenate([train_scaled,train_encoded],axis=1)
x_valid = np.concatenate([valid_scaled,valid_encoded],axis=1)
x_test = np.concatenate([test_scaled,test_encoded],axis=1)
print(x_train.shape)
print(x_valid.shape)
print(x_test.shape)

(67405, 42)
(28889, 42)
(64197, 42)

In [24]:
y_train = np.array(train['대출등급']).reshape(-1,1)
y_valid = np.array(valid['대출등급']).reshape(-1,1)

In [25]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense,Dropout

num_classes = len(num_to_label)
model = Sequential()
model.add(Dense(1024,activation='relu',input_shape=(42,)))
model.add(Dropout(0.5))
model.add(Dense(512,activation='relu',input_shape=(42,)))
model.add(Dropout(0.5))
model.add(Dense(256,activation='relu',input_shape=(42,)))
model.add(Dropout(0.5))
model.add(Dense(num_classes,activation='softmax'))

WARNING:tensorflow:From C:\Users\Owner\anaconda3\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From C:\Users\Owner\anaconda3\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [ ]:
from sklearn.metrics import f1_score

def macro_f1_score(y_true,y_pred):
    y_pred = np.argmax(y_pred,1)
    f1_scores = []
    for k in range(num_classes):
        y_tr_k = (y_true==k)
        y_pr_k = (y_pred==k)
        f1_k = f1_score(y_tr_k,y_pr_k)
        f1_scores.append(f1_k)
    return np.mean(f1_scores)

In [ ]:
def custom_metric(y_true,y_pred):
    f1 = tf.py_function(func=macro_f1_score,inp=[y_true,y_pred],Tout=tf.float32]
    return f1

In [ ]:
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
             loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=False),
             metrics=[tf.keras.metrics.SparseCategoricalAccuracy(),custom_metric])

In [ ]:
val_pred = model.predict(x_valid)
y_pred = np.argmax(val_pred,1)
y_

In [ ]:
model.fit(x=x_train,
          y=y_train,
         batch_size=128,
         epochs=10,
         validation_data=(x_valid,y_valid))

In [ ]:
pred = model.predict(x_test)
sub['대출등급'] = pred
sub.to_csv('5th_try.csv',index=False)
pd.read_csv('5th_try.csv')